@use 'bootstrap';

$main-blue: #0282F9;

.bg_main-blue {
    background-color: $main-blue;
}

header div.upper_band {
    color: white;
    font-size: 0.8rem;
}

.half-rem {
    font-size: 0.5rem;
}

.semi-bold {
    font-weight: 600;
}