@use 'bootstrap';

$main-blue: #0282F9;

.bg_main-blue {
    background-color: $main-blue;
}

.text_main-blue {
    color: $main-blue;
}

li {
    list-style: none;
    a {
        text-decoration: none;
        color: inherit;
        line-height: 80px;
    }

    a:hover {
        color: inherit;
    }
}

header {
    div.upper_band {
    color: white;
    font-size: 0.8rem;
    }

    .nav-container {
        height: 120px;
    }

    img {
        height: 80px;
    }

    ul {
        margin-bottom: 0;

        li {
            height: 120px;
            line-height: 120px;
            vertical-align: middle;
    
            &.active {
                color: $main-blue;
                border-bottom: 5px solid $main-blue;
            }
    
        }
    }

    .search-bar {
        width: 10%;
        border-bottom: 3px solid $main-blue;
        text-align: right;
    }

}

.half-rem {
    font-size: 0.5rem;
}

.semi-bold {
    font-weight: 600;
}

.jumbotron {
        height: 400px;
         img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        }
}