.bg_main-blue {
  background-color: #0282F9;
}

.bg_light-grey {
  background-color: #F6F6F6;
}

.text_main-blue {
  color: #0282F9;
}

.col-20 {
  width: 20%;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: inherit;
  line-height: 80px;
}
li a:hover {
  color: inherit;
}

header div.upper_band {
  color: white;
  font-size: 0.8rem;
}
header .nav-container {
  height: 120px;
}
header img {
  height: 80px;
}
header ul {
  margin-bottom: 0;
}
header ul li {
  height: 120px;
  line-height: 120px;
  vertical-align: middle;
}
header ul li.active {
  color: #0282F9;
  border-bottom: 5px solid #0282F9;
}
header .search-bar {
  width: 10%;
  border-bottom: 3px solid #0282F9;
  text-align: right;
}

.half-rem {
  font-size: 0.5rem;
}

.semi-bold {
  font-weight: 600;
}

main .jumbotron {
  height: 400px;
}
main .jumbotron img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main .blue_title {
  background-color: #0282F9;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -50%);
}
main .comics_container img {
  width: 185px;
  height: 185px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main button {
  width: 180px;
  height: 30px;
  border: none;
}
main button.blue_button {
  background-color: #0282F9;
  color: white;
}
main .blueband_container {
  color: white;
  background-color: #0282F9;
}
main .blueband_container img {
  height: 50px;
}

.page_bottom {
  height: 110px;
}
.page_bottom button {
  border-style: none;
  border: 2px solid #0282F9;
  padding: 0.7rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: transparent;
}
.page_bottom img {
  height: 40px;
}
.page_bottom .right-bottom {
  justify-content: right;
  align-items: center;
  color: #0282F9;
  font-weight: 700;
  font-size: 1rem;
}

footer .links {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  height: 405px;
  flex-wrap: wrap;
  position: relative;
}
footer .links .container {
  height: 405px;
}
footer .links .container h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  color: white;
}
footer .links .container ul {
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
footer .links .container ul li {
  list-style: none;
  padding-left: 0;
  color: grey;
  padding-bottom: 5px;
  font-size: 0.8rem;
  display: block;
  font-family: "Open Sans", sans-serif;
}
footer .links .container .links-wrapper {
  text-align: left;
  align-items: flex-start;
  height: 345px;
  padding-top: 1.5rem;
}
footer .links .container .link-sub-area {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
footer .dc_fat_logo {
  height: 405px;
  width: 66%;
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 50%;
  position: absolute;
  top: 0;
  right: 20%;
}
footer .copyrights {
  color: grey;
  font-size: 0.8rem;
  margin-top: -20px;
}

.container_half {
  width: 60%;
  height: 100%;
  margin: auto;
}
.container_half .poster {
  position: absolute;
  bottom: 20px;
  left: 0;
  border: 1px solid white;
}
.container_half .poster .img_container {
  position: relative;
  height: 100%;
  width: 100%;
}
.container_half .poster .img_container .label {
  position: absolute;
  background-color: #00A9D9;
  color: white;
  padding: 0.1rem 0.5rem;
}
.container_half .poster .img_container .label.top_left {
  top: 0;
  left: 0;
}
.container_half .poster .img_container .label.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.bg_jumbotron {
  background-image: url("../img/jumbotron.jpg");
  height: 400px;
  background-size: cover;
  background-position: top;
}

.blue_band {
  background-color: #0282F9;
  height: 80px;
  position: relative;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  color: darkblue;
}

.commercial_info {
  background-color: #55BA59;
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.568);
}
.commercial_info .right {
  border-left: 1px solid rgba(0, 0, 0, 0.568);
  padding-left: 1.5rem;
}

.grey_info {
  background-color: #F6F6F6;
  height: 375px;
}
.grey_info .left {
  padding-right: 2rem;
}
.grey_info h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #003F5E;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
.grey_info .credit {
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
.grey_info .credit .title {
  color: #003F5E;
  font-weight: 600;
  font-size: 1.1rem;
}
.grey_info .credit .people {
  color: #0282F9;
}

.shop_links {
  border-top: 1px solid rgba(128, 128, 128, 0.4);
  font-weight: 700;
  opacity: 0.7;
}
.shop_links .cta_container {
  border-left: 1px solid rgba(128, 128, 128, 0.4);
}
.shop_links .cta_container .cta {
  height: 45px;
  filter: grayscale(1);
  opacity: 0.35;
}
.shop_links .cta_container.last {
  border-right: 1px solid rgba(128, 128, 128, 0.4);
}